<footer>
  <div class="divFooter">
  	<div><span class="informationDescription">Created by:  </span><span class="informationFooter">Gustavo Chavarro Ortiz</span></div>
  	<div><span class="informationDescription">Github profile:  </span><span class="informationFooter"><a href="https://github.com/gchavarro88/">gchavarro88</a></span></div>
  	<div><span class="informationDescription">email:  </span><span class="informationFooter">gustavo.chavarro.or@gmail.com</span></div>
  </div>
  <div class="divFooter">
  	<div><span class="informationDescription">Page Information:  </span><span class="informationFooter">Test to Cafeto Software</span></div>
  	<div><span class="informationDescription">LinkedIn Profile:  </span><span class="informationFooter"><a href="https://www.linkedin.com/in/gustavo-adolfo-chavarro-ortiz-6a143328/">LinkedIn Gustavo</a></span></div>
  	<div><span class="informationDescription">City:  </span><span class="informationFooter">Medellín - Antioquia</span></div>
  </div>
  <div class="divFooter">
  	<div><span class="informationDescription">Source of Data:  </span><span class="informationFooter"><a href="https://www.themoviedb.org/">Themeviedb.org</a></span></div>
  	<div><span class="informationDescription">API Source:  </span><span class="informationFooter"><a href="https://developers.themoviedb.org/3">API Version 3</a></span></div>
  	<div><span class="informationDescription">Institute:  </span><span class="informationFooter">Universidad Santiago de Cali</span></div>
  </div>
</footer>